body {
  background: linear-gradient(-80deg, rgba(239, 98, 159, 0.6), rgba(238, 205, 163, 0.6), rgba(239, 98, 159, 0.6));
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: 600% 600%;
  animation: gradient 20s ease-in-out infinite normal;
  -webkit-user-select: none;
  margin-bottom: 30px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.jp {
  font-family: "Mplus 1p";
  font-weight: 300;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
}
p {
  color: white;
}
.alert {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.github {
  position: fixed;
  right: 1rem;
  bottom: 1.5rem;
}
.float-right {
	text-align: end;
}
@media only screen and (min-width: 576px) {
  body {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .mobile-hidden {
    display: none;
  }
  body {
    margin-bottom: 0px;
  }
}
:link, :visited {
	color: #0096CF;
  text-decoration: none;
}
a:hover, a:active, .notHighlight:hover, .notHighlight:active {
	color: #C74345;
  text-decoration: none;
}
.notHighlight:link, .notHighlight:visited {
	color: white;
  text-decoration: none;
}
.chanFooter {
	text-align: center;
	background: #3E4146;
	padding-bottom: 8px;
	padding-top: 8px;
}
.post {
	display: inline-block;
	float: left;
	background: #3A3D42;
	width: 100%;
	padding: 10px;
}
img {
	float: left;
	margin-right: 8px;
}
.reply {
	display: inline-block;
	float: left;
	background: #36393E;
	width: 100%;
	padding: 10px;
  border-top: 1px solid #3E4146;
}
.thread {
	display: flow-root;
	width: 100%;
	background: #3A3D42;
	border-width: 1px 1px 4px 1px;
	border-style: solid;
	border-color: #3E4146
	overflow-x: hidden;
}
.postinfo {
	margin-right: 8px;
}
.custom-file {
	margin-top: 1px;
}
.custom-file-control.selected:lang(en)::after {
  content: "" !important;
}
.comment {
	color: white;
}
select {
	width: 8em;
}
.greentext {
	color: #789922;
}
.replyThread {
	font-size: 65%;
  vertical-align: 0.2em;
}
textarea {
	min-height: 6em;
	max-height: 40em;
	min-width: 19em;
	max-width: 19em;
	margin: 0px;
}
.commentBox {
	position: fixed;
	top: 20%;
	display: block;
	border: 1.4px solid #3E4146;
	border-right: none;
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
	padding: 8px;
}
@media only screen and (min-width: 576px) {
	.commentBox {
		right: 0px;
		background: #3A3D42;
	}
}
@media only screen and (max-width: 575px) {
	.commentBox {
		right: -60%;
		background: #FFF;
		transition: right .5s ease-in-out;
	}
	.commentBox:hover {
		right: 0px;
	}
}
