@font-face {
font-family:"Bitstream Vera Sans Mono";
src:local("Bitstream Vera Sans Mono Bold"), url(font.woff2) format("woff2");
font-weight:700;
font-style:normal
}

.jp {
font-family:"M PLUS 1p";
font-weight:300
}

canvas {
position:fixed;
z-index:0
}

body {
background:#000;
margin:auto
}

#body {
position:absolute;
left:10vw;
z-index:0
}

h1 {
font-family:"Bitstream Vera Sans Mono",monospace;
font-size:7vmax;
white-space:nowrap;
color:#fff
}

h1 > span {
font-size:1vmax
}

span {
font-family:"Bitstream Vera Sans Mono",monospace;
font-size:1em;
color:#fff
}

a, b {
font-family:"Bitstream Vera Sans Mono",monospace;
color:#fff;
text-decoration:none;
transition:padding-left .5s,text-shadow .5s;
padding:.3rem
}

a:hover {
cursor:pointer;
padding-left:1.3rem;
text-shadow:0 0 4px #FFF
}

a:hover::before {
content:"> "
}

audio {
width:100%
}

img {
max-width:100%;
min-width:100%;
border-bottom:1px solid #FFF
}

.buttons {
position:fixed;
top:3em;
right:2em;
width:20%
}

#catch {
height:100vh;
width:100%;
visibility:hidden;
z-index:10;
position:absolute
}

#modal {
position:absolute;
visibility:hidden;
opacity:0;
width:60vw;
min-height:8em;
right:20vw;
top:10vh;
text-align:center;
border:1px solid #FFF;
background:rgba(0,0,0,0.5);
color:#fff;
box-shadow:0 0 6px #FFF,inset 0 0 6px #FFF;
z-index:20;
transition:opacity 3s
}

h2 {
text-shadow:0 0 4px #FFF;
margin:auto;
padding:.5em;
border-bottom:1px solid #FFF
}

#reset:hover, .delete:hover {
color:#F00;
text-shadow:none
}

.delete {
float:left;
margin-left:1em
}

.music {
position:fixed;
bottom:2em;
right:2em;
width:30%;
color:white;
border:1px solid #FFF;
background:rgba(0, 0, 0, 0.5);
box-shadow:0 0 6px #FFF,inset 0 0 6px #FFF;
text-shadow:0 0 4px #FFF
}

.visual {
padding:1em;
border-bottom:1px solid #FFF
}

.next {
padding:1em;
border-bottom:1px solid #FFF
}

br {
margin-bottom:.6em
}

* {
transition:opacity 3s
}

button:hover {
background-color:#FFF;
color:#000
}

:focus {
outline:none
}

::-moz-focus-inner {
border:0
}
