@font-face {
font-family:"Bitstream Vera Sans Mono";
src:local("Bitstream Vera Sans Mono Bold"), url(font.woff2) format("woff2");
font-weight:700;
font-style:normal
}

.jp {
font-family:"M PLUS 1p";
font-weight:300
}

canvas {
position:absolute;
z-index:0
}

body {
background:#000;
margin:auto
}

#body {
position:absolute;
left:10vw;
z-index:0
}

h1 {
font-family:"Bitstream Vera Sans Mono",monospace;
font-size:7vmax;
white-space:nowrap;
color:#fff
}

a {
font-family:"Bitstream Vera Sans Mono",monospace;
color:#fff;
text-decoration:none;
transition:padding-left .5s,text-shadow .5s;
padding:.3rem
}

a:hover {
padding-left:1.3rem;
text-shadow:0 0 4px #FFF
}

a:hover::before {
content:"> "
}

br {
margin-bottom:.6em
}

* {
transition:opacity 3s
}

h4 {
font-family:"Bitstream Vera Sans Mono",monospace;
color:#fff;
position:fixed;
bottom:2em;
left:2em;
margin:0
}

button {
position:fixed;
bottom:2em;
right:2em;
border:1px solid #FFF;
background:#000;
color:#fff;
text-shadow:0 0 4px #FFF;
box-shadow:0 0 6px #FFF,inset 0 0 6px #FFF;
padding:.2em .8em;
cursor:pointer;
transition:background-color .3s,color .3s
}

button:hover {
background-color:#FFF;
color:#000
}

:focus {
outline:none
}

::-moz-focus-inner {
border:0
}
