@font-face {
	font-family: "MoonFlower";
	src: url(/fonts/moon-flower.ttf) format("truetype");
}
@keyframes gradient {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -3840px 0px;
  }
}
body {
	background-image: url(/webassets/gradients/dark.png);
  animation: gradient 5s linear 0s infinite normal;
}
p {
  color: white;
  margin: 0;
  text-align: center;
}
.success {
	color: black;
	text-align: left;
}
.card {
  display: flex;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.beta {
	font-size: 120%;
	position: fixed;
	right: 16px;
	bottom: 0.5em;
}
.header {
	font-family: 'MoonFlower';
	font-size: 850%;
}
.viewCount {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
}
