@font-face {
font-family:"Bitstream Vera Sans Mono";
src:url(font.woff2) format("woff2");
font-weight:700;
font-style:normal
}

.jp {
font-family:"M PLUS 1p";
font-weight:300
}

canvas {
position:fixed;
z-index:-1
}

body {
font-family:"Bitstream Vera Sans Mono",monospace;
font-weight:300;
background:#000;
margin:auto
}

#body {
position:absolute;
left:10vw
}

a {
color:#fff;
text-decoration:none;
transition:text-shadow .5s, margin-left .5s;
}

a::before {
content:"> ";
color:#000;
position:absolute;
z-index:-2;
margin-left:-1.2em;
transition:color .5s, margin-left .5s, z-index .5s
}

a:hover {
margin-left:1.2em;
text-shadow:0 0 4px #FFF;
cursor:pointer
}

a:hover::before {
z-index:1;
color:#fff
}

a.ul {
border-bottom:1px solid #000;
transition:border-bottom .5s
}

a.ul::before {
content:none!important
}

a.ul:hover {
border-bottom:1px solid #fff
}
