body {
  background: linear-gradient(-80deg, rgb(240, 194, 123), rgb(75, 18, 72), rgb(240, 194, 123));
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-size: 600% 600%;
  animation: gradient 20s ease-in-out infinite normal;
  display: flex;
  -webkit-user-select: none;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 {
  font-family: "Lobster";
}
h1, h2 {
  color: white;
  text-align: center;
  font-size: 600% !important;
}
.alert {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.links {
  color: white;
  margin: auto;
  display: block;
  transition: all .5s ease-in-out;
}
.links.trigger {
  display: none;
}
.login {
  display: none;
  margin: auto;
  transition: all .5s ease-in-out .5s;
}
.login.trigger {
  display: block;
}
.links > .link {
  border-top: 3px dashed white;
  padding-top: 1.5rem;
  text-decoration: none;
  outline: none;
}
img {
  transition: filter .3s;
}
img:hover {
  filter: drop-shadow(0 0 5px #000);
}
.btn-dark.jp {
  margin-top: 1rem;
  transform: translate(-50%);
  cursor: pointer;
  margin-left: 50%;
}
.jp {
  font-family: "Mplus 1p";
  font-weight: 300;
}
b {
  font-weight: 500;
}
.btn-group,
.btn-primary,
.btn-success {
  width: 100%;
}
a > .btn {
  cursor: pointer;
  padding: .2rem .7rem;
}
.views {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
#discord {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: -21.9rem;
  transition: all 1s ease-in-out;
}
#discord.visible {
  right: -.8rem;
}
.github {
  position: fixed;
  right: 1rem;
  bottom: -.2rem;
}
.copyright {
  position: fixed;
  left: 1rem;
  bottom: -.2rem;
}
.ms {
  position: fixed;
  right: 1rem;
  top: -.2rem;
}
@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: local("Lobster"), local("Lobster-Regular"), url(//fonts.gstatic.com/s/lobster/v19/cycBf3mfbGkh66G5NhszPQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
