*Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
*test*

php/sql.php
php/recaptcha.php

iki/includes/settings.inc.php

files/
chan/files/
chan/thumbs/
ps/
pma/
dlf/

google*.html
.well-known/
css/bootstrap*
css/font-awesome*
js/bootstrap*
js/jquery*
js/livestamp*
js/moment*
js/tether*
js/npm*
fonts/*
