# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.flac
*.m4a
*.tta
FLAC/Persona 3 OST [FLAC]/Disc 2/目黒将司 - PERSONA 3 Original Soundtrack.m3u8
*.m3u8
FLAC/Persona 3 OST [FLAC]/Disc 1/PERSONA 3 Original Soundtrack Disc 1.cue
*.cue
*.mp4
*.jpg
*.psd
board/files/CPMC.swf
*.exe
board/files/[Leopard-Raws] Monogatari Series - Second Season (MX 1280x720 x264 AAC).torrent
DLF ARCHIVE/#Knifegate- The Phone Calls.mp3
*.ISO
FLAC/Higurashi OST [FLAC]/2008 - Higurashi 2 - DS OP/DVD/FVCG_1019_2.MDS
*.MDS
*.nfo
