events {
  worker_connections 1024;
}
http {
  include mime.types;
  default_type application/octet-stream;
  sendfile on;
  server {
    listen 80 default_server;
    server_name sek.ai;
    root /usr/share/nginx/sek.ai;
    location / {
      index.php index.html;
    }
    location ~ ^\/vendor {
			deny all;
		}
    rewrite ^/flac/.+/$ /flac/index.php break;
    location ~* ^\/[a-zA-Z0-9]+\.(mkv|gif|jpg|jpeg|png|mp4|webm|zip|7z|rar)$ {
      root /usr/share/nginx/sek.ai/i;
    }
    location ~ \.php$ {
      fastcgi_pass unix:/run/php-fpm/php-fpm.sock;
      fastcgi_intercept_errors on;
      fastcgi_index index.php;
      fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
      include fastcgi.conf;
    }
    error_page 401 403 404 451 500 503 504 /php/error.php?code=$status;
  }
}
