@import url("/webassets/main.css");
a:link {
	font-family: var(--arial);
	color: var(--bluelink);
  text-decoration: none;
}
a:visited {
	font-family: var(--arial);
	color: var(--bluelink);
  text-decoration: none;
}
a:hover {
	font-family: var(--arial);
	color: var(--redlink);
  text-decoration: none;
}
a:active {
	font-family: var(--arial);
	color: var(--redlink);
  text-decoration: none;
}
a.notHighlight:link {
	font-family: var(--arial);
	color: white;
  text-decoration: none;
}
a.notHighlight:visited {
	font-family: var(--arial);
	color: white;
  text-decoration: none;
}
a.notHighlight:hover {
	font-family: var(--arial);
	color: var(--redlink);
  text-decoration: none;
}
a.notHighlight:active {
	font-family: var(--arial);
	color: var(--redlink);
  text-decoration: none;
}
