@font-face {
	font-family: "MoonFlower";
	src: url(/webassets/moon-flower.ttf) format("truetype");
}
@keyframes gradient {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -3840px 0px;
  }
}
input[type=email],
input[type=text],
input[type=password] {
  margin: 5px 0;
	border: 1px solid #ccc;
}
b {
	border-bottom: 1px solid white;
}
body {
	background-image: url(/webassets/gradients/dark.png);
	animation-duration: 5s;
	animation-name: gradient;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
div.login {
	background: rgba(0,0,0,0.3);
	padding: 10px;
	border-radius: 20px;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
div.viewCount {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
}
label {
	font-family: "MoonFlower", Verdana, Tahoma;
	font-size: 200%;
}
p {
	font-family: Arial, Verdana, Tahoma;
	color: white;
}
p.beta {
	font-size: 120%;
	color: white;
	font-weight: bold;
	text-align: center;
	position: fixed;
	right: 25px;
	bottom: 0px;
}
p.errorText {
	font-family: Arial, Verdana, Tahoma;
	text-align: center;
	color: red;
	margin: 2px;
}
p.loginHeader {
	font-family: "MoonFlower", Verdana, Tahoma;
	font-size: 300%;
	margin-top: 0px;
	margin-bottom: 0px;
}
p.pageTitle {
	font-family: "MoonFlower", Verdana, Tahoma;
	text-align: center;
	font-size: 850%;
	margin-top: 0px;
	margin-bottom: 0px;
}
