a.notHighlight:link {
	font-family: var(--arial);
	color: white;
  text-decoration: none;
}
a.notHighlight:visited {
	font-family: var(--arial);
	color: white;
  text-decoration: none;
}
a.notHighlight:hover {
	font-family: var(--arial);
	color: var(--redlink);
  text-decoration: none;
}
a.notHighlight:active {
	font-family: var(--arial);
	color: var(--redlink);
  text-decoration: none;
}
body {
  background-image: url(/webassets/gradients/light.png);
  animation-duration: 5s;
  animation-name: gradient;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
div.hSeparator {
	float: left;
	width: 2%;
	height: 1%;
}
div.nsfwTile {
	background-position: bottom right, center top;
	background-repeat: no-repeat, repeat;
	background-size: auto, cover;
	float: left;
	height: 181px;
	width: 32%;
}
div.tile {
	background-size: cover;
	float: left;
	height: 181px;
	width: 32%;
}
div.tile:hover > p.tileText {
	filter: blur(0px);
	opacity: 1;
	font-size: 500%;
}
div.nsfwTile:hover > p.tileText {
	filter: blur(0px);
	opacity: 1;
	font-size: 500%;
}
div.vSeparator {
	float: left;
	height: 1.5em;
	width: 100%;
}
