@import url("/webassets/main.css");
@font-face {
	font-family: "MoonFlower";
	src: url(/webassets/moon-flower.ttf) format("truetype");
}
@keyframes gradient {
	from {
		background-position: 0px 0px;
	}
	to {
		background-position: -3840px 0px;
	}
}
a {
	outline: 0;
	font-family: var(--arial);
}
button {
	margin-top: 5px;
}
a > button {
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
}
div.errorDiv {
	display: inline-block;
	background: #ff4c4c;
	border: 3px solid #d40000;
}
embed {
	position: fixed;
	right: 10px;
	top: 80px;
}
input[type=email],
input[type=text],
input[type=password] {
	border: 1px solid #ccc;
	box-sizing: border-box;
}
label {
	font-family: var(--moonflower);
	font-size: 200%;
}
p {
	font-family: var(--arial);
	color: white;
}
p.beta {
	font-size: 120%;
	color: white;
	font-weight: bold;
	text-align: center;
	position: fixed;
	right: 16px;
	bottom: 0px;
}
p.errorPage {
	font-family: var(--moonflower);
	font-size: 300%;
	text-align: center;
	margin: 0px;
}
p.pageTitle {
	font-family: var(--moonflower);
	text-align: center;
	font-size: 850%;
	margin-top: 0px;
	margin-bottom: 0px;
}
p.subTitle {
	font-family: var(--moonflower);
	font-size: 150%;
	margin-top: 0px;
}
p.user {
	position: fixed;
	right: 10px;
	top: 0px;
}
video {
	position: absolute;
	right: 10px;
}
