@import url("/webassets/main.css");
a:link {
	font-family: var(--arial);
	color: white;
  text-decoration: none;
}

a:visited {
	font-family: var(--arial);
	color: white;
  text-decoration: none;
}

a:hover {
	font-family: var(--arial);
	color: blue;
  text-decoration: none;
}

a:active {
	font-family: var(--arial);
	color: blue;
  text-decoration: none;
}
