a:link {
	font-family: Arial,Verdana,Tahoma;
	color: white;
  text-decoration: none;
}

a:visited {
	font-family: Arial,Verdana,Tahoma;
	color: white;
  text-decoration: none;
}

a:hover {
	font-family: Arial,Verdana,Tahoma;
	color: blue;
  text-decoration: none;
}

a:active {
	font-family: Arial,Verdana,Tahoma;
	color: blue;
  text-decoration: none;
}
